<ion-content>
  <div class="flex-form">
    <!--<ul class="bg-animation">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>-->
    <div class="logo ion-text-center">
      <ion-icon name="chatboxes" size="large"></ion-icon>
    </div>
    <div class="stretch"></div>
    <ion-list>
      <ion-item>
        <ion-label>Username</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-button type="submit" fill="solid" color="primary" expand="full">
        LOGIN
      </ion-button>
    </ion-list>
  </div>
</ion-content>
