<app-custom-header>AGENDA</app-custom-header>

<ion-content>
  <div class="header">
  <!-- todo dates -->
  </div>

  <div class="events">
    <ion-card *ngFor="card of [1,2,3,4]">
      <ion-item lines="none">
        <ion-label><h5>10:00 AM</h5></ion-label>
      </ion-item>
      <ion-item *ngFor="let item of [1,2]">
          <ion-avatar slot="start">
            <img src="./assets/images/loren-williams.jpeg">
          </ion-avatar>
          <ion-label>
            <h3>On the politics of experience</h3>
            <p>Loren Williams</p>
            <p><ion-icon name="time" size="small"></ion-icon> 45 min</p>
          </ion-label>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
