<ion-content>
  <div class="flex-form">
  <div class="logo ion-text-center">
    <ion-icon name="chatboxes" size="large"></ion-icon>
  </div>
  <div class="stretch"></div>
    <ion-list>
      <ion-item>
        <ion-label>Username</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>E-mail</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Confirm Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-button type="submit" fill="solid" color="primary" expand="full">
        SIGNUP
      </ion-button>
    </ion-list>
  </div>
</ion-content>
